/* opening 영역 */
.opening {
  padding: 100px 0;
  text-align: center;
  color: #bc9a51;
}
.opening h2 {
  margin-bottom: 5px;
}
.opening h2 span.grand {
  display: inline-block;
  width: 395px;
  height: 45px;
  background-position: 0 -123px;
}
.opening .date {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 5px;
}
.opening .desc {
  font-size: 30px;
  font-weight: 300;
  background: url(../img/bar.png) no-repeat bottom center;
  background-size: 100%;
  margin-bottom: 50px;
  line-height: 60px;
}
.open_box {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}
.open_box > div {
  border: 1px solid #b9b9b9;
  font-size: 18px;
  width: 25%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  transform: scale(0);
  transition: transform 0.3s;
}
.open_box > div:nth-child(2) {
  transition-delay: 0.2s;
}
.open_box > div:nth-child(3) {
  transition-delay: 0.4s;
}
.open_box > div.bounce {
  transform: scale(1);
}
.open_box > div h3 {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  padding: 10px 20px;
  background-color: #38116a;
  /* position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);  <----- 가운데 넣기*/
  margin-top: -25px;
  border: 1px solid #7e38da9f;
}
.open_box > div p {
  font-size: 20px;
  font-weight: 300;
  padding: 5% 0 5% 0;
}
.open_box > div p em {
  display: block;
}
.open_box > div p strong {
  display: block;
}

/* 미디어 쿼리 */
@media (max-width: 1290px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 960px) {
  .opening {
    padding: 50px 0;
  }
  .opening h2 span.grand {
    width: 300px;
    height: 35px;
    background-position: 0 -168px;
  }
  .opening .date {
    font-size: 25px;
  }
  .opening .desc {
    font-size: 25px;
  }
  .open_box > div {
    width: 25%;
  }
  .open_box > div p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .opening {
    padding: 25px 0;
  }
  .opening h2 span.grand {
    width: 150px;
    height: 18px;
    background-position: 0 -203px;
  }
  #opening .row {
    padding: 0 24px;
  }
  .opening {
    padding: 25px 0;
  }
  .open_box {
    display: none;
  }
  .opening .desc {
    margin-bottom: 10px;
    font-size: 18px;
    word-break: keep-all;
    line-height: 1.5;
  }
  .opening .date {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
}
